@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*My color palette, for now: 

  Black: #212121
    darkerBlack: #0c0c0c
    
  Blue: #00447c 
    darkerBlue: #002756

  Laguna: #0b7b8e
    darkerLaguna: #035b7a

  Beige: #dddace
    darkerBeige: #c6c3b6

  Cream: #f2f3f4
    darkerCream: #eaeaea

  */

@theme{ /* In-line use Color Palette*/

  --color-Black: #212121;
  --color-Black-100: #212121e1; 
  --color-darkBlack: #0c0c0c;
  --color-Blue: #00447c;
  --color-darkBlue: #002756;
  --color-Laguna: #0b7b8e;
  --color-darkLaguna: #035b7a; 
  --color-Beige: #ffff;
  --color-darkBeige: #ffff; 
  --color-Cream: #f2f3f4; 
  --color-darkCream: #eaeaea;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0c0c;
  }
}

@theme inline {
  --animate-first: moveVertical 30s ease infinite;
  --animate-second: moveInCircle 20s reverse infinite;
  --animate-third: moveInCircle 40s linear infinite;
  --animate-fourth: moveHorizontal 40s ease infinite;
  --animate-fifth: moveInCircle 20s ease infinite;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

body {
  background: var(--background);
  font-family: 'Inter', sans-serif;
}

.transEffectText1 {

  animation:    appear;
  animation-timeline: view();
  animation-range:    entry 0% cover 40%;
}
